body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.topbar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  background-color: #ff8800;
  margin-bottom: 25px;
  gap: 5px;
}

.topbar-container h1 {
  color: white;
  font-family: "Fuzzy Bubbles", cursive;
  font-weight: 700;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;

  a {
    color: white;
  }

  a:link {
    text-decoration: none;
  }
}
.topbar-container p {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

.topbar-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: flex-start;
  order: 0;
}

.topbar-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 200px;
  align-self: center;
  order: 0;
}

#input-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  gap: 25px;
}

#imageUrl-container {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  gap: 25px;
}

#imageUrlInput {
  appearance: none;
  align-self: auto;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #000;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 500px;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 6px 12px;
  vertical-align: middle;
  white-space: nowrap;
}

.input-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 500px;
  align-self: auto;
  order: 0;
}

.input-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
  order: 0;
}

#install-app-btn-container {
  display: none;
}

.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #423e37;
  padding-bottom: 10px;
  background-color: white;
}

.footer-container hr {
  max-width: 500px;
  border-top: 0.5px solid #423e37;
  margin-left: auto;
  margin-right: auto;
}

.footer-container a,
#privacy-container a {
  color: #423e37;
}

.footer-container a:hover,
#privacy-container a:hover {
  color: #81796c;
}

#privacy-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  margin-bottom: 50px;
}
